<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    <link rel="stylesheet" href="static/style.css">
</head>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li><h1>{{ message }}</h1></li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<body>
    <nav>
        <a href="{{ url_for('hello_world') }}">Home</a>
        <a href="{{ url_for('user') }}">Profile</a>
        <a href="{{ url_for('cvform') }}">Make a CV</a>
        <a href="{{url_for('login_page')}}">Log in</a>
        <a href="{{url_for('register')}}">Register</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    </nav>

    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
    <p class="mt-5 mb-3 text-muted">&copy; Anna Markovich 2022</p>
</body>
</html>