{% extends "base.html" %}

{% block content %}

    <form method="post" action="/cvform" novalidate>
        <p>
            <h2>Make your resume!</h2>

        {{ form.hidden_tag() }}
        <p>
            {{ form.firstname.label }}<br>
            {{ form.firstname(size=140) }}<br>
            {% for error in form.firstname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.lastname.label }}<br>
            {{ form.lastname(size=140) }}<br>
            {% for error in form.lastname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.city.label }}<br>
            {{ form.city(size=140) }}<br>
            {% for error in form.city.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.music.label }}<br>
            {{ form.music(size=140) }}<br>
            {% for error in form.music.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.artist.label }}<br>
            {{ form.artist(size=140) }}<br>
            {% for error in form.artist.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.food.label }}<br>
            {{ form.food(size=140) }}<br>
            {% for error in form.food.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.animal.label }}<br>
            {{ form.animal(size=140) }}<br>
            {% for error in form.animal.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.country.label }}<br>
            {{ form.country(size=140) }}<br>
            {% for error in form.country.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.secret.label }}<br>
            {{ form.secret(size=140) }}<br>
            {% for error in form.secret.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.hair.label }}<br>
            {{ form.hair(size=140) }}<br>
            {% for error in form.hair.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.breakfast.label }}<br>
            {{ form.breakfast(size=140) }}<br>
            {% for error in form.breakfast.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ form.submit() }}</p>

    </form>
{% endblock %}

